{{>header}}
<div class="transaction-details">
    <div class="wrapper">
        <div class="description">
            <div class="icon-wrapper">
                <i class="fas fa-smile-beam"></i>
            </div>
            <div class="data">
                <p class="bold">Box office</p>
                <p>Nov 29, 2019</p>
            </div>
        </div>
        <div class="money">
            <p class="bold">- 40 $</p>
        </div>
    </div>
    <div class="notes">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, odio.</p>
    </div>
    <div class="controls">
        <a href="#/transactions/{{transaction.id}}/edit" class="edit"><i class="fas fa-edit"></i> Edit</a>
        <a href="#/transactions/{{transaction.id}}/delete" class="delete"><i class="fas fa-trash"></i> Delete</a>
    </div>
</div>
{{>footer}}