<div class="categories">
    <p class="category">
        <input type="radio" name="category" id="car" value="car"> 
        <label for="car"><i class="fas fa-car"></i> Car</label>
    </p>

    <p class="category">
        <input type="radio" name="category" id="travel" value="travel"> 
        <label for="travel"><i class="fas fa-plane"></i> Travel</label>
    </p>

    <p class="category">
        <input type="radio" name="category" id="food" value="food"> 
        <label for="food"><i class="fas fa-utensils"></i> Food</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="fun" value="fun"> 
        <label for="fun"><i class="fas fa-smile-beam"></i> Entertainment</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="home" value="home"> 
        <label for="home"><i class="fas fa-home"></i> Home</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="shopping" value="shopping"> 
        <label for="shopping"><i class="fas fa-shopping-basket"></i> Shopping</label>
    </p>
</div>