<div class="categories">
    <p class="category">
        <input type="radio" name="category" id="salary" value="salary"> 
        <label for="salary"><i class="fas fa-coins"></i> Salary</label>
    </p>

    <p class="category">
        <input type="radio" name="category" id="rent" value="rent"> 
        <label for="rent"><i class="fas fa-hand-holding-usd"></i> Rent</label>
    </p>

    <p class="category">
        <input type="radio" name="category" id="transfer" value="transfer"> 
        <label for="transfer"><i class="fas fa-credit-card"></i> Money Transfer</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="gift" value="gift"> 
        <label for="gift"><i class="fas fa-gift"></i> Gift</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="sell" value="sell"> 
        <label for="sell"><i class="fas fa-dollar-sign"></i> Sell</label>
    </p>
    
    <p class="category">
        <input type="radio" name="category" id="other" value="other"> 
        <label for="other"><i class="fas fa-dollar-sign"></i> Other</label>
    </p>
</div>