<header class="site-header">
    <a href="#/home" class="logo">SpendApp</a>
    <nav>
        <ul>
            <li><a href="#/dashboard"><i class="fas fa-chart-line"></i> Dashboard</a></li>
            <li><a href="#/timeline"><i class="far fa-calendar-alt"></i> Timeline</a></li>
            <li><a href="#/payments/register"><i class="fas fa-shopping-basket"></i> Register Payment</a></li>
            <li><a href="#/incomes/register"><i class="fas fa-money-bill-alt"></i> Register Income</a></li>
            <li><a href="#/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        
            <li class="authentication"><a href="#/register"><i class="fas fa-sign-in-alt"></i> Register</a></li>
            <li class="authentication"><a href="#/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </nav>
</header>