{{>header}}
<section class="stats">
    <div class="yearly">
        <h2 class="title">Year 2019</h2>
        <div class="charts-wrapper">
            <div class="payments-wrapper">
                <h2>Payments</h2>
                <canvas class="transaction-chart" id="payments-stats-yearly" width="300" height="300"></canvas>
            </div>
            <div class="incomes-wrapper">
                <h2>Incomes</h2>
                <canvas class="transaction-chart" id="incomes-stats-yearly" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
    <div class="monthly">
        <h2 class="title">November 2019</h2>
        <div class="charts-wrapper">
            <div class="payments-wrapper">
                <h2>Payments</h2>
                <canvas class="transaction-chart" id="payments-stats-monthly" width="300" height="300"></canvas>
            </div>
            <div class="incomes-wrapper">
                <h2>Incomes</h2>
                <canvas class="transaction-chart" id="incomes-stats-monthly" width="300" height="300"></canvas>
            </div>
        </div>
    </div>

    <div class="daily">
        <h2 class="title">18 November</h2>
        <div class="charts-wrapper">
            <div class="payments-wrapper">
                <h2>Payments</h2>
                <canvas class="transaction-chart" id="payments-stats-daily" width="300" height="300"></canvas>
            </div>
            <div class="incomes-wrapper">
                <h2>Incomes</h2>
                <canvas class="transaction-chart" id="incomes-stats-daily" width="300" height="300"></canvas>
            </div>
        </div>
        {{>transactions}}
    </div>
</section>
{{>footer}}