{{>header}}
<section class="timeline">
    <h2>Timeline</h2>
    <form class="datepicker-form" action="#/timeline" method="POST">
        <input type="date" name="date">
        <input type="submit" value="Get Data">
    </form>
</section>
{{>footer}}