.title{
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--site-main-color);
}

.balance-wrapper{
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance{
    font-size: 4rem;
    color: var(--site-main-color);
}

.red {
    color: red;
}

.icon-wrapper{
    font-size: 4rem;
    color: rgb(122, 62, 0);
    margin-right: 2rem;
}

.chart-wrapper{
    display: flex;
    justify-content: center;
}

.chart-wrapper canvas{
    width: 600px;
    height: 400px;
}

.charts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0rem;
}

.charts-wrapper h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--site-main-color);
}

.charts-wrapper .payments-wrapper,
.charts-wrapper .incomes-wrapper{
    flex: 0 0 50%;
}
canvas.transaction-chart{
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

@media(max-width: 900px){
    .title {
        font-size: 2rem;
    }
    
    .chart-wrapper h2{
        margin-top: 2rem;
    }
}