.dashboard-hello{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 4rem 0;
}

.dashboard-hello h2{
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.dashboard-hello a{
    text-decoration: none;
    color: var(--site-second-color);
    padding: 1.4rem;
    background: var(--site-main-color);
    border: 2px solid var(--site-main-color);
    border-radius: 10px;
    font-size: 1.3rem;
    opacity: 1;
}

.dashboard-hello a:hover{
    background: var(--site-second-color);
    color: var(--site-main-color);
    border: 2px solid var(--site-main-color);
    cursor: pointer;
}

.dashboard-hello span.username{
    color: var(--site-main-color);
    text-transform: none;
    font-size: 4rem;
}

.title{
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--site-main-color);
}

.balance-wrapper{
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance{
    font-size: 4rem;
    color: var(--site-main-color);
}

.red {
    color: red;
}

.icon-wrapper{
    font-size: 4rem;
    color: rgb(122, 62, 0);
    margin-right: 2rem;
}

.chart-wrapper{
    display: flex;
    justify-content: center;
}

.chart-wrapper canvas{
    width: 600px;
    height: 400px;
}

.charts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0rem;
}

.charts-wrapper h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--site-main-color);
}

.charts-wrapper .payments-wrapper,
.charts-wrapper .incomes-wrapper{
    flex: 0 0 50%;
}

canvas.transaction-chart{
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

@media(max-width: 900px){
    .dashboard-hello{
        width: 100%;
        padding: 1rem 0;
    }

    .dashboard-hello .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .dashboard-hello a {
        flex: 0 0 60%;
        margin-bottom: 2rem;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .chart-wrapper h2{
        margin-top: 2rem;
    }
}