.title{
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--site-main-color);
}

.balance-wrapper{
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance{
    font-size: 4rem;
    color: var(--site-main-color);
}

.icon-wrapper{
    font-size: 4rem;
    color: rgb(122, 62, 0);
    margin-right: 2rem;
}

.chart-wrapper{
    display: flex;
    justify-content: center;
}

.chart-wrapper canvas{
    width: 600px;
    height: 400px;
}

.charts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0rem;
}

.charts-wrapper h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--site-main-color);
}

.charts-wrapper .controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.charts-wrapper button{
    padding: 0.5rem;
    border: 1px solid var(--site-main-color);
    background: var(--site-main-color);
    border-radius: 10px;
    color: var(--site-second-color);
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
}

.charts-wrapper button:hover{
    background: var(--site-second-color);
    color: var(--site-main-color);
    cursor: pointer;
}

.btns-wrapper{
    display: flex;
    justify-content: space-evenly;
}

canvas.transaction-chart{
    flex: 0 0 40%;
    width: 400px;
    height: 400px;
}