form{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    margin-left: auto;
}

form h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--site-main-color);
}

form i{
    color: var(--site-main-color);
}

form textarea{
    display: block;
    flex: 0 0 100%;
    outline: none;
    font-size: 1.4rem;
    padding: 1rem;
}

form textarea:focus{
    border: 2px solid var(--site-main-color);
}

form .form-link a{
    margin-left: 1rem;
    text-decoration: none;
    color: var(--site-main-color);
}

form .form-link a:hover{
    text-decoration: underline;
}

form input{
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
}

form input[type="submit"]{
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

form input:focus{
    border-bottom: 2px solid var(--site-main-color);
}

form input[type="submit"]{
    font-size: 1.2rem;
    background: var(--site-main-color);
    color: var(--site-second-color);
    outline: none;
}

form input[type="submit"]:hover{
    background: var(--site-second-color);
    color: var(--site-main-color);
    cursor: pointer;
}

.login-form{
    padding: 8rem 0rem;
}

.login-form p.form-link{
    margin-top: 2rem;
}

.login-form h2,
.login-form p,
.register-form h2,
.register-form p{
    flex: 1 1 100%;
    text-align: center;
}


.login-form p,
.register-form p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form i,
.register-form i
{
    font-size: 1.5rem;
}

.login-form input,
.register-form input
{
    padding: 0.5rem;
    margin-left: 1rem;
    flex: 0 0 30%;
}

.login-form input[type="submit"],
.register-form input[type="submit"]
{
    flex: 0 0 40%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.8rem;
}

.register-form{
    padding: 6rem 0rem;
}

.register-form .username,
.register-form .confirm-password{
    margin-bottom: 2rem;
}

.register-form .currency{
    margin-bottom: 3rem;
    position: relative;
    margin-top: 2rem;
}

.register-form .currency label{
    color: var(--site-main-color);
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 2rem;
}

.register-form select{
    flex: 0 0 20%;
    border-radius: 10px;
    outline: none;
    padding: 0.4rem;
}

.register-form option{
    padding: 1.4rem;
}


.transaction-register{
    margin: 8rem auto;
}

.transaction-register h2,
.transaction-register h4{
    flex: 0 0 100%;
    text-align: center;
    color: var(--site-main-color);
}

.transaction-register h2{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.transaction-register h4{
    margin-bottom: 2rem;
}

.transaction-register p{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.transaction-register p i{
    font-size: 2rem;
    width: 40px;
}

.transaction-register p input{
    flex: 0 0 25%;
    margin-left: 2rem;
    padding: 0.5rem;
}

.transaction-register input[type="submit"]{
    padding: 0.5rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.transaction-register .categories{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.transaction-register p.category{
    flex: 0 0 40%;
    display: flex;
}

.transaction-register p.category label{
    flex: 0 0 100%;
    border: 1px solid var(--site-main-color);
    padding: 1rem 0rem;
    text-align: center;
    border-radius: 10px;
    color: var(--site-main-color);
    font-size: 1.4rem;
}

.transaction-register p.category input{
    margin: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.transaction-register p.category label i{
    margin-right: 1rem;
}

.transaction-register p.category label:hover{
    cursor: pointer;
    background: var(--site-main-color);
    color: var(--site-second-color);
}

.transaction-register p.category label:hover i{
    color: var(--site-second-color);
}

.transaction-register p.category input:checked + label{
    background: var(--site-main-color);
    color: var(--site-second-color);
}

.transaction-register p.category input:checked + label i{
    color: var(--site-second-color);
}

.transaction-register input[type="submit"]{
    padding: 1.5rem 0;
}