.site-header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--site-main-color);
}

.site-header .logo{
    flex: 0 0 30%;
    margin-right: auto;
    padding-left: 1rem;
    text-decoration: none;
    color: var(--site-second-color);
    font-size: 2rem;
}

.site-header nav{
    flex: 0 0 60%;
    margin-left: auto;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    flex: 1 1 20%;
    list-style: none;
    padding: 1.2rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--site-second-color);
    font-size: 1.2rem;
}