.cta {
    padding: 26rem 8rem;
    background: url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80) center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 2;
}

.cta:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

.cta h2, .cta h3, .cta a{
    color: var(--site-second-color);
}

.cta h2{
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.cta h3{
    text-transform: capitalize;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.cta a{
    text-decoration: none;
    color: var(--site-second-color);
    padding: 1.4rem;
    background: var(--site-main-color);
    border-radius: 10px;
    font-size: 1.3rem;
    opacity: 1;
}

.cta a:hover{
    background: var(--site-second-color);
    color: var(--site-main-color);
    cursor: pointer;
}

.cta span.username{
    color: var(--site-main-color);
    text-transform: none;
    font-size: 4rem;
}

@media(max-width: 900px){
    .cta {
        padding: 26rem 0.2rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .buttons a {
        flex: 0 0 60%;
        margin-bottom: 2rem;
    }
}