@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700&display=swap');

html{
    font-size: var(--pc-font-size);
    line-height: 1.2;
    font-family: var(--site-content-font), sans-serif;
}

@media (max-width: 1000px){
	html{
		font-size: var(--mobile-font-size);
	}
}

input, button, textarea{
    font-family: inherit;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6{
    font-family: var(--site-headings-font), serif;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}